<!DOCTYPE html>
<html lang="en">
<body>
    <form action="/result" method="POST">
        <p>Name <input type='text' name='name'></p>
        <p><b>* Student Number</b> <input type='text' id='StudentNumber' name='StudentNumber' /></p>
        <p> Programming Languages</p>
        <label><input type = "checkbox" value = "Python"  name = "languages"/>Python</label>
        <label><input type = "checkbox" value = "Java" name = "languages"/>Java</label>
        <button type='submit' name='submit' value='submit'>submit</button>
    </form>
</body>
</html>
